body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    display : grid;
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 1fr 6fr;
}

header{
    background-color: coral;
    grid-row: 1/2;
    grid-column : 2/3;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 5fr 2fr 3fr;
}

.search{
    grid-column: 1/2;
    background-color: antiquewhite;
}

.notif{
    grid-column: 2/3;
    background-color: bisque;
}

.user{
    grid-column: 3/4;
    background-color: burlywood;
}

.greetings{
    grid-column: 1/2;
    background-color: azure;
}

.post-menu{
    grid-column: 2/4;
}

main{
    background-color: cornsilk;
    grid-row: 2/3;
    grid-column: 2/3;
}

.sidebar{
    background-color: rgb(33, 166, 255);
    color: white;
    grid-row: span 2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr;
    justify-items: start;
    padding-left: 15px;
}

.branding img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    padding:0;
    margin-right: 5px;
}

.branding{
    padding-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

.navlinks{
    padding-left: 8px;
}

ul{
    list-style: none;
    font-weight: 500;
    padding:0;
}

.navlinks img{
    height: 18px;
    width: 18px;
    margin-right: 18px;
    vertical-align: middle;
    padding: 5px 0px;
}

a{
    color: white;
    text-decoration: none;
}